h1, footer{
  text-align: center;
  color: #ea5169;
}

.image-grid div {
  display: grid;
  grid-template: 180px 180px / 20vw 20vw;
  background-image: url('https://www.burpee.com/dw/image/v2/ABAQ_PRD/on/demandware.static/-/Sites-masterCatalog_Burpee/default/dw6c95b38a/Images/Product%20Images/prod500138/prod500138.jpg?sw=320&sh=378&sm=fit');
  background-size: cover;
}
 
